.rhap_container {
	background-color: black !important;
	width: 100% !important;
}

.rhap_current-time,
.rhap_time {
	color: white !important;
}

.rhap_volume-container {
	display: none !important;
}
.rhap_controls-section {
	//max-width: 500px !important;
	margin: 0 auto !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
